@import '../../global/style.css';

/* SEARCH BAR */

.search-container{
  width: 100%;
  display: flex;
  padding: 40px 60px;

}

.search-itens{
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.search-itens input{
  padding: 20px;
  border: none;
  width: 100%;
}

.search-itens button{
  padding: 5px;
  border: none;
  border-radius: 6px;
}

/* CATALOGO */

.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 60px;
}

.card-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
}

.product-img{
  border-bottom: solid 1.5px var(--placeholder-color);
  padding: 5px;
}

.product-details{
  gap: 3px;
  display: flex;
  flex-direction: column;
}


.product-price{
  color: var(--price-color);
  font-size: var(--font-mdlg);
}

.product-desc{
  font-size: var(--font-md);
}

/* LOAD MORE */

.cta-button-more{
  width: 100%;
  padding: 40px 60px;
  
}

.cta-button-more button{
  width: 100%;
  padding: 10px 0;
  border: solid 2px var(--btn-primary);
  border-radius: 6px;
  color: var(--btn-primary);
  font-size: var(--font-lg);
}
