.header-client{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: var(--price-color);
}

.header-client h1{
  align-self: center;
  font-size: var(--font-title);
  color: #fff;
}

.header-options-container{
  display: flex;
  gap: 20px;
}

.option-element{
  display: flex;
  align-items: center;
  gap: 5px;
}
.option-product{
  margin-right: 20px;
}

.option-user-info{
  flex-direction: column;
  align-items: end;
}

.header-client a{
  font-size: var(--font-mdlg);
  color: #fff;
}

.header-client p{
  color: #fff;
}

.header-client img{
  width: var(--font-lg);
}

