.header-client{
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-bottom: 50px;
}

.header-client h1{
  font-size: var(--font-title);
}

.header-client a{
  font-size: var(--font-mdlg);
}