:root {
  /* Tamanhos de Fonte com clamp() */
  --font-sm: clamp(10px, 1.5vw + 0.5rem, 12px);
  --font-md: clamp(14px, 2vw + 1rem, 18px);
  --font-mdlg: clamp(20px, 2.5vw + 1.5rem, 25px);
  --font-lg: clamp(20px, 3vw + 1rem, 28px);
  --font-title: clamp(24px, 4vw + 2rem, 36px);

  /* Cores principais e secundarias */
  --header-color: #ffe500;
  --p-color: #636363;
  --btn-primary: #3483fa;
  --placeholder-color: #bdbdbd;
  --border-bottom: #D9D9D9;
  --price-color: #0caf1d;
  --input-error-color: #ff3232;
}
