@import '../../global/style.css';

.card-container{
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
}

.card-item{
  display: flex;
  padding: 20px;
  border-bottom: solid 1.5px var(--border-bottom);
}

.item-info{
  display: flex;
}

.item-image{
  width: 10%;
}

.item-desc{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item-quantity{
  margin-top: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.item-quantity button{
  padding: 2px;
  font-size: var(--font-lg);
  background-color: #fff;
  border: none;
  color: var(--btn-primary);
}

.item-price{
  color: var(--price-color);
  font-size: var(--font-lg);
}

.name-item{
  font-size: var(--font-mdlg);
  color: var(--p-color);
}

.item-total{
  padding: 20px;
  font-size: var(--font-lg);
  color: var(--p-color);
}

.item-total strong{
  color: var(--price-color);
}

.cta-action-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  width: 100%
}

.cta-action-product button{
  font-size: var(--font-lg);
  padding: 20px;
  width: 30%;
  border-radius: 6px;
}

.cta-action-product p{
  font-size: var(--font-lg);
  color: var(--p-color);
}

.home-button{
  background-color: #fff;
  color: var(--btn-primary);
  border: solid 1.5px var(--btn-primary);
}
